* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}
#piano {
  display: flex;
  width: 100%;
}
.tile {
  height: 200px;
  width: 100%;
  background-color: white;
  border: 2px solid black;
  transition: all 0.3s;
}

.tile:active {
  opacity: 0.5;
}
