body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f5f7fa;
  padding: 22px 120px 22px 105px;
}
.header .menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header .menu a {
  text-decoration: none;
  color: #18191f;
  font-size: 14px;
  font-weight: 400;
}
.header .login {
  display: flex;
  justify-content: right;
  gap: 14px;
}
.header .login button {
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all 0.3s;
  background-color: #4caf4f;
  color: #ffffff;
  border: 2px solid #4caf4f;
}
button:hover {
  background-color: #f5f7fa;
  color: #4caf4f;
}
.hero {
  display: flex;
  justify-content: center;
  gap: 104px;
  background-color: #f5f7fa;
  padding: 96px 144px;
  align-items: center;
  margin: 0 0 40px 0;
}
.hero .text {
  margin: 0 0 32px 0;
}
.hero h1 {
  font-size: 64px;
  font-weight: 600;
  margin: 0 0 16px 0;
}
.hero span {
  margin: 0;
  color: #4caf4f;
}
.hero p {
  margin: 0;
  color: #717171;
  font-size: 16px;
  font-weight: 400;
}
.hero .dots {
  display: flex;
  position: absolute;
  gap: 8px;
  align-items: center;
  top: 657px;
}
.hero .dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 30%;
  background-color: #4caf4f;
  transition: all 0.3s;
}
.hero .dots .dot:hover {
  opacity: 100%;
}
.clients {
  text-align: center;
  margin: 0 0 40px 0;
}
.clients h2 {
  font-size: 36px;
  font-weight: 600;
  color: #4d4d4d;
  margin: 0 0 8px 0;
}
.clients p {
  color: #717171;
  font-size: 16px;
  font: 400;
  margin: 0;
}
.clients .icons {
  margin: 0 144px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 136px;
  justify-content: center;
  padding: 20px 0;
}
.community {
  margin: 0 0 42px 0;
}
.community .description {
  text-align: center;
  margin: 0 0 16px 0;
}
.community .description h2 {
  margin: 0 0 8px 0;
  font-size: 36px;
  font-weight: 600;
  color: #4d4d4d;
}
.community .description p {
  color: #717171;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.community .why {
  display: flex;
  margin: 0 144px;
  justify-content: center;
  gap: 127.5px;
}
.community .why .describe {
  box-sizing: border-box;
  width: 299px;
  padding: 24px 32px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px #abbed133;
}
.community .why .describe h3 {
  font-size: 28px;
  font-weight: 700;
  color: #4d4d4d;
  margin: 10px 0 0 0;
}
.community .why .describe p {
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  margin: 8px 0 0 0;
}
.body .unlock {
  display: flex;
  align-items: center;
  padding: 0 144px;
  gap: 49px;
  justify-content: center;
  margin: 0 0 48px 0;
}
.body .unlock .text {
  width: 601px;
  margin: 0 0 32px 0;
}
.body .unlock .text h2 {
  font-size: 36px;
  font-weight: 600;
  color: #4d4d4d;
}
.body .unlock .text p {
  color: #717171;
  font-size: 14px;
  font-weight: 400;
}
button {
  padding: 14px 32px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4caf4f;
  border: 4px solid #4caf4f;
  transition: all 0.3s;
}
.achievement {
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  padding: 64px 144px;
}
.achievement .sectionHeading {
  width: 540px;
}
.achievement .sectionHeading h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 8px 0;
}
.achievement .sectionHeading span {
  color: #4caf4f;
}
.achievement .sectionHeading p {
  margin: 0;
  color: #18191f;
  font-size: 16px;
  font-weight: 400;
}
.achievement .counts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.achievement .counts .row {
  display: flex;
  gap: 30px;
}
.achievement .counts .row .details {
  width: 255px;
  display: flex;
  gap: 16px;
}
.achievement .counts .row .details h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}
.achievement .counts .row .details p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #717171;
}
.calender {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding: 0 144px;
  margin: 48px;
}
.calender .text {
  width: 601px;
}
.calender .text h2 {
  font-size: 36px;
  font-weight: 600;
  color: #4d4d4d;
  margin: 0 0 16px 0;
}
.calender .text p {
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  margin: 0 0 32px 0;
}
.customers {
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 78px;
  padding: 32px 144px;
  margin: 0 0 48px 0;
}
.customers img {
  height: 326px;
  width: 326px;
  box-shadow: 0px 8px 16px 0px #abbed166;
  border-radius: 8px;
}
.customers .recomendation {
  width: 748px;
  display: flex;
  flex-direction: column;
}
.customers .recomendation .content {
  margin: 0 0 32px 0;
}
.customers .recomendation .content p {
  color: #717171;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 16px 0;
}
.customers .recomendation .content .whom h4 {
  color: #4caf4f;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 8px 0;
}
.customers .recomendation .content .whom p {
  color: #89939e;
  font-size: 16px;
  font-weight: 400;
}
.customers .recomendation .companies {
  display: flex;
  align-items: center;
  gap: 32px;
}
.customers .recomendation .companies .icons {
  display: flex;
  gap: 41px;
}
.customers .recomendation .companies .meetAllCustomers h4 {
  font-size: 20px;
  font-weight: 600;
  color: #4caf4f;
  margin: 0;
}
.customers .recomendation .companies .meetAllCustomers {
  display: flex;
}
.communityUpdate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.communityUpdate .text {
  text-align: center;
  margin: 0 0 16px 0;
}
.communityUpdate .text h2 {
  color: #4d4d4d;
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 8px 0;
}
.communityUpdate .text p {
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  width: 628px;
  margin: 0;
}
.communityUpdate .columnS {
  display: flex;
  gap: 24px;
}
.communityUpdate .columnS img {
  width: 368px;
  height: 286px;
  border-radius: 8px;
}
.communityUpdate .columnS .badge {
  border-radius: 8px;
  background-color: #f5f7fa;
  box-shadow: 0px 8px 16px 0px #abbed166;
  padding: 16px;
  position: absolute;
}
